{% extends "myapp/base.html" %}
{% load static %}
{% block extra_css %}
  <link rel="stylesheet"
    href="{% static 'myapp/css/feedback.css' %}"/>{% endblock %}
{% block title %}Site Feedback{% endblock %}

{% block content %}
<div class="feedback-page">
  <div class="content-wrapper">
    <h1>Site Feedback</h1>
    <form method="post" class="simple-form">
      {% csrf_token %}
      {{ form.non_field_errors }}
      <div class="form-group">
        {{ form.suggestions }}
        {% for err in form.suggestions.errors %}
          <div class="form-errors">{{ err }}</div>
        {% endfor %}
      </div>
      <div class="form-actions">
        <button type="submit" class="btn">Send Feedback</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}

