{% extends "myapp/base.html" %}
{% load static %}
{% block extra_css %}
  <link rel="stylesheet"
    href="{% static 'myapp/css/restaurant_list.css' %}"/>{% endblock %}
{% block title %}All Restaurants{% endblock %}

{% block content %}
<section class="restaurant-list-page">
  <div class="content-wrapper">
    <h1>All Restaurants</h1>
    <ul>
      {% for restaurant in restaurants %}
      <li>
        <a href="{% url 'myapp:restaurant_detail' restaurant.id %}">
          {{ restaurant.name }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>
{% endblock %}
