{% extends "myapp/base.html" %}
{% load static %}
{% block extra_css %}
  <link rel="stylesheet"
    href="{% static 'myapp/css/reviews_suggestion.css' %}"/>{% endblock %}
{% block title %}Edit Your Review{% endblock %}

{% block content %}
<div class="container review-container">
  <div class="review-header">
    <h2>Edit Your Review</h2>
    <h3>
      <a href="{% url 'myapp:dish_reviews' review.dish_restaurant.dish.id review.dish_restaurant.restaurant.id %}">
      {{ review.dish_restaurant.local_name|default:review.dish_restaurant.dish.name }}
      </a>
      <a href="{% url 'myapp:restaurant_detail' review.dish_restaurant.restaurant.id %}">
      @ {{ review.dish_restaurant.restaurant.name }}
      </a>
    </h3>
  </div>

  <div class="review-form">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.non_field_errors }}

      <div class="form-group">
        {{ form.rating.label_tag }}
        {{ form.rating }}
        {% for err in form.rating.errors %}
          <div class="form-errors">{{ err }}</div>
        {% endfor %}
      </div>

      <div class="form-group">
        {{ form.price_paid.label_tag }}
        {{ form.price_paid }}
        {% for err in form.price_paid.errors %}
          <div class="form-errors">{{ err }}</div>
        {% endfor %}
      </div>

      {% if review.photo %}
        <div class="form-group">
          <label>Current Photo</label>
          <img
            src="{{ review.photo.url }}"
            alt="Photo by {{ review.user.username }}"
            class="review-image"
          >
        </div>
      {% endif %}

      <div class="form-group">
        {{ form.photo.label_tag }}
        {{ form.photo }}
        {% for err in form.photo.errors %}
          <div class="form-errors">{{ err }}</div>
        {% endfor %}
      </div>

      <div class="form-group">
        {{ form.description.label_tag }}
        {{ form.description }}
        {% for err in form.description.errors %}
          <div class="form-errors">{{ err }}</div>
        {% endfor %}
      </div>
      
      <button type="submit" class="btn">Save Changes</button>
      <a href="{% url 'myapp:dish_reviews' review.dish_restaurant.dish.id review.dish_restaurant.restaurant.id %}"
        class="btn-link">
             Cancel
      </a>
    </form>
  </div>
</div>
{% endblock %}
