{% extends "myapp/base.html" %}
{% load static %}
{% block extra_css %}
  <link rel="stylesheet"
    href="{% static 'myapp/css/reviews_suggestion.css' %}"/>{% endblock %}
{% block title %}Delete Review{% endblock %}

{% block content %}
<div class="container delete-container">
  <h2>Delete Review</h2>
  <div class="card-confirm">
    <div class="card-body">
      <p>
        Are you sure you want to delete your review of
        <strong>
          {{ review.dish_restaurant.local_name|default:review.dish_restaurant.dish.name }}
        </strong>
        @ {{ review.dish_restaurant.restaurant.name }}?
      </p>
      <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Yes, delete it</button>
        <a href="{% url 'myapp:dish_reviews' review.dish_restaurant.dish.id review.dish_restaurant.id %}" class="btn-link">Cancel</a>
      </form>
    </div>
  </div>
</div>
{% endblock %}
