{% extends "myapp/base.html" %}
{% load static %}
{% block extra_css %}
  <link rel="stylesheet"
    href="{% static 'myapp/css/wishlist_add.css' %}"/>
{% block title %}Add “{{ dish.name }}” to Wishlist{% endblock %}{% endblock %}

{% block content %}
<div class="wishlist-page">
  <div class="content-wrapper">
    <h1>Add “{{ dish.name }}” to Your Wishlist</h1>
    <form method="post" class="simple-form">
      {% csrf_token %}
      {{ form.non_field_errors }}
      <div class="form-group">
        {{ form.comments.label_tag }}
        {{ form.comments }}
        {% for err in form.comments.errors %}
          <div class="form-errors">{{ err }}</div>
        {% endfor %}
      </div>
      <div class="form-actions">
        <button type="submit" class="btn">Add to Wishlist</button>
        <a href="{% url 'myapp:profile' %}" class="btn-link">Cancel</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}
